@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(
      217deg,
      rgba(255, 159, 237),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(118, 164, 255), rgba(0, 255, 0, 0) 65%),
    linear-gradient(336deg, rgba(255, 191, 138), rgba(0, 0, 255, 0) 70.71%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.new__bg {
  height: 100%;

  display: flex;
  justify-content: center;
}

ol {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}



.answering-text {
  animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
