.background-glass {
  background: linear-gradient(135deg, #ffffff3d, rgb(255 255 255 / 5%));
  backdrop-filter: blur(10px);
}

.summaryText {
  border: 2px solid rgb(255 255 255 / 0%);
  border-radius: 0.7rem;
  box-shadow: 0 8px 32px #0000001c;
  padding: 1rem;
  line-height: 2rem;
}

.form {
  padding: 0.3rem;
  border: 2px solid rgb(255 255 255 / 0%);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.105) 0px 8px 32px;
}

input:focus {
  outline: none;
  border: none;
}

.drag_drop_modal {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.29s;
  }

  .hello{
    opacity: 1;
    animation-name: fadeOutOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.29s;
  }
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOutOpacity {
    0% {
      opacity: 100;
    }
    100% {
      opacity: 0;
    }
  }